@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(255, 255, 255);
}

.conteudo {
    margin-top: 150px;
    margin-left: 200px;
    width: 1000px;
}

.titulo {
    font-size: 35px;
    font-weight: 900;
}

h1 {
    display: block;
    -webkit-margin-before: -0.3em;
    -webkit-margin-after: 0.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.div-titulo {
    margin-bottom: 40px;
    font-style: italic;
}

.div-conteudo {
    width: 1000px;
}

.conteudo-principal-titulo {
    font-size: 48px;
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-weight: 500;
    margin-bottom: 30px;
}

.conteudo-principal-texto {
    margin-left: 15px;
    font-size: 26px;
    max-width: 800px;
    margin-top: 8px;
    font-weight: 500;
}

.botao {
    width: 130px;
    height: 35px;
    padding: 2px;
    margin-top: 30px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color:  rgb(151, 72, 20);
    color: white;
}

.span-laranja {
    color: rgb(151, 72, 20);
}

.span-2 {
    font-style: italic;
    font-weight: 550;
}

.div-img {
    display: flex;
}

.img {
    width: 90vh;
    height: 100vh;
    display: flex;
    margin-left: 87.5vh;
    margin-top: -66vh;
}

.section-conteudo {
    margin-left: 30px;
    color: rgb(31, 31, 31);
}

.div-contato {
    margin-top: 70px;
}

.contato {
    margin-bottom: 5px;
}

@media (max-width:1238px) {
    .img {
        width: 0;
    }

    .section-conteudo {
        margin-left: -15%;
    }

    .conteudo-principal-titulo {
        max-width: 500px;
        text-align: center;
    }

    .conteudo-principal-texto {
        max-width: 500px;
        text-align: center;
        margin-left: -5px;
        margin-top: 60px;
    }

    .contato {
        font-size: 22px;
    }
}


   
